@keyframes zoom1 {
    0% {
        transform: translate(40%, 50%) scale(.5);
        opacity: 0;
    }

    30% {
        transform: translate(40%, 50%) scale(.5);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 100%;
    }
}

@keyframes zoom2 {
    0% {
        transform: translate(-30%, -70%) scale(1.4);
        opacity: 0;
    }

    30% {
        transform: translate(-30%, -70%) scale(1.4);
        opacity: 100%;
    }

    100% {
        transform: translate(0, 0);
        opacity: 100%;
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(80%);
        opacity: 0%;
    }
    
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes slide {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}